.row
  .col
    %h1.main__header1
      Meeting Rooms
.row.mb-2
  .col
    = link_to 'New Room', new_room_path, class: 'btn btn-info'
.row
  .col
    %table.table.table-striped
      %thead
        %tr
          %td
            Name
          %td
            URL
          %td
            Actions
      %tbody
        - @rooms.each do |room|
          %tr
            %td.align-middle
              = room.name
            %td.align-middle
              = room_url(room.key)
            %td.align-middle
              = link_to 'Join Room', room_path(room.key), class: 'btn btn-primary'
              = button_tag 'Copy URL', data: { 'clipboard-text' => room_url(room.key) }, class: 'clipboard-btn btn btn-info'
              = link_to 'Delete', room_path(room.key),method: :delete, data: { confirm: 'Delete this room?' }, class: 'btn btn-secondary'